doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='initial-scale=1.0')
  meta(name='format-detection', content='telephone=no')
  style(type='text/css').
    .ReadMsgBody { width: 100%; background-color: #ffffff; }
    .ExternalClass { width: 100%; background-color: #ffffff; }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div { line-height: 100%; }
    body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; }
    body { margin: 0; padding: 0; }
    table { border-spacing: 0; }
    table td { border-collapse: collapse; }
    p { margin-top: 6px; }
    .en { font-family: 'Trebuchet MS' }
    .yshortcuts a { border-bottom: none !important; }
    @media screen and (max-width: 600px) { table[class="container"] { width: 90% !important; } }
    @media screen and (max-width: 480px) { td[class="container-padding"] { padding-left: 12px !important; padding-right: 12px !important; } }

table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
  tr
    td(align='center', valign='top', bgcolor='#ffffff', style='background-color: #ffffff;')
      br
      br
      table.container(border='0', width='600', cellpadding='0', cellspacing='0')
        tr
          td(width='300', dir='ltr', align='left', valign='bottom', style='font-size: 12px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333; text-align: left; vertical-align: bottom; padding-left: 5px;')
            a(href="http://idevcenter.com")
              img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/5d169ae3-0204-49be-bee7-ffc7ac2769da.png', width='160', height='20', border='0')
          td(width='300', dir='rtl', align='right', valign='top', style='font-size: 12px; line-height: 20px; font-family: Helvetica, sans-serif; color: #666666; text-align: right; vertical-align: top; padding-right: 5px;')
            div خبرنامه شماره #{page.metadata.issue_no}
            div #{page.metadata.issue_date}

      br
      table.container(border='0', width='600', cellpadding='0', cellspacing='0', bgcolor='#fdfdfd')
        tr
          td.container-padding(bgcolor='#fdfdfd', dir='rtl', align='right', style='border: 1px solid #ddd; border-radius: 4px; background-color: #fdfdfd; padding-left: 30px; padding-right: 30px; font-size: 13px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333;')
            br
            br
            != page.html
            br
            br
      br
      table.container(border='0', width='600', cellpadding='0', cellspacing='0')
        tr
          td(width='600', dir='rtl', align='center', valign='top', style='font-size: 12px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333; text-align: center; vertical-align: top')
          a(href='http://twitter.com/idevcenter')
            img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/3c0eb859-bf69-4b3a-a02d-edda794a5aed.png', width='24', height='24')
          | &nbsp;
          | &nbsp;
          a(href='http://facebook.com/idevcenter')
            img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/d20eedff-810a-4d0f-9367-a1ef361a7ace.png', width='24', height='24')
          | &nbsp;
          | &nbsp;
          a(href='https://www.linkedin.com/groups/idevcenter-6964583')
            img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/6c0b7cb8-97d5-42b2-a063-da3cb0fc94d8.png', width='24', height='24')
          | &nbsp;
          | &nbsp;
          a(href='https://www.google.com/+idevcenter')
            img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/c749d643-ae96-4a85-95a5-de00988db0e9.png', width='24', height='24')
          | &nbsp;
          | &nbsp;
          a(href='http://idevcenter.slack.com')
            img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/2d3c69b8-bedc-4dca-af13-59adee268935.png', width='24', height='24')
      br
      br
      table.container(border='0', width='600', cellpadding='0', cellspacing='0')
        tr
          td(width='600', dir='rtl', align='center', valign='top', style='font-size: 12px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333; text-align: center; vertical-align: top')
            | شما این ایمیل را به علت عضویت در خبرنامه سایت <a href='http://idevcenter.com' style='color: #000; font-family: Trebuchet MS; font-size: 11px; text-decoration: none;'>iDevCenter</a> دریافت کرده‌اید.
            br
            | اگر علاقه‌ای به دریافت این خبرنامه ندارید می‌توانید <a href='*|UNSUB|*' style='color: #999; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #333333;'>اشتراک خود را لغو کنید</a>.
      br
      br
      table.container(border='0', width='600', cellpadding='0', cellspacing='0')
        tr
          td(width='600', dir='rtl', align='center', valign='top', style='font-size: 12px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333; text-align: center; vertical-align: top')
            | *|REWARDS|*
