---
issue_no: '۸'
issue_date: '۱۶ مرداد ۱۳۹۴'
template: 'email.jade'
---

table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', style='font-size: 13px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333;')
  tr
    td(width='80', align='right', valign='top')
      img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/47670a2b-5c6b-4e26-a6da-d314aea87afa.png', width='50', height='50')
    td(width='520', align='right', valign='top')
      p سلام،
      p بعد از یک وقفه کوتاه، با شماره جدید خبرنامه و لینک‌های این هفته در خدمت شما هستم.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://www.freecodecamp.com/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | با کمک به سازمان‌های غیرانتقاعی برنامه‌نویسی یاد بگیرید
      p freeCodeCamp پروژه جالبی است که سعی می‌کند همزمان هم به برنامه‌نویسی‌های مبتدی کد نویسی یاد بدهد و هم به انجام پروژه‌های متن باز برای سازمان‌های غیرانتقاعی کمک کند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://blog.venanti.us/web-app-2015/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | چیزهایی که باید هنگام ساخت یک اپلیکیشن وب در سال ۲۰۱۵ بدانید
      p اگر در زمینه ساخت سایت و اپلیکیشن‌های وب فعالیت می‌کنید، با در نظر داشتن این موارد می‌توانید تجربه بهتری برای کاربران خود فراهم کنید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://www.clivemaxfield.com/diycalculator/sp-round.shtml', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | الگوریتم‌های مختلف برای رند کردن اعداد
      p رند کردن اعداد در نگاه اول شاید کار ساده‌ای به نظر برسد ولی در عمل نکاتی وجود دارد که اگر با برنامه‌های مالی و علمی سر و کار دارید خوب است آنها را بدانید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://play.inginf.units.it/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | چه قدر Regex بلد هستید؟
      p فکر می‌کنید که با Regular Expressionها به خوبی آشنایی دارید؟ ادعای خود را با این مجموعه تست ثابت کنید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://mabnadp.com', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس C#/ASP.NET در شرکت مبنا
      p شرکت مبنا که در زمینه توسعه نرم‌افزارها، اپلیکیشن‌ها و سیستم‌های مرتبط با بورس و بازار سرمایه فعالیت می‌کند برای تکمیل تیم خود نیاز به یک برنامه‌نویس C#/ASP.NET دارد.
        | اگر مایل به همکاری با این شرکت هستید به آدرس <a href='http://mabnadp.com/jobs' style='color: #333'>mabnadp.com/jobs</a> مراجعه کنید.
      br
      p(style='color: #333333') اگر شما هم برای شرکت و یا تیم‌تان نیاز به جذب نیروی متخصص دارید و مایل هستید که آگهی استخدام خود را در این خبرنامه منتشر کنید، با آدرس <a href='mailto:info@idevcenter.com' style='color: #333;'>info@idevcenter.com</a> تماس بگیرید.
  tr
    td(width='80', align='right', valign='top', style='padding-top: 10px')
    td(width='520', align='right', valign='top', style='padding-top: 10px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      br
      a(href='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/37ed0871-e17b-488e-9682-e38887ffb9e4.png')
        img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/37ed0871-e17b-488e-9682-e38887ffb9e4.png', width='100%')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      | هفته خوبی داشته باشید و از برنامه‌نویسی لذت ببرید :)
