---
issue_no: '۵'
issue_date: '۲۲ خرداد ۱۳۹۴'
template: 'email.jade'
---

table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', style='font-size: 13px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333;')
  tr
    td(width='80', align='right', valign='top')
      img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/47670a2b-5c6b-4e26-a6da-d314aea87afa.png', width='50', height='50')
    td(width='520', align='right', valign='top')
      p سلام،
      p هفته گذشته فرصت شد و یک دستی به سر و روی <a href='http://idevcenter.com' style='color: #333'>سایت</a> کشیدم.
        | گروه اسلک سایت هم فعال شده است و بحث‌های خوبی در آن در جریان است. اگر هنوز عضو نشده‌اید، همین حالا <a href='http://idevcenter.com/slack' style='color: #333'>عضو شوید</a> و دوستان خود را نیز دعوت کنید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://blog.fogcreek.com/going-beyond-code-to-become-a-better-programmer-interview-with-pete-goodliffe', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | فراتر از کد نویسی در راه تبدیل شدن به یک برنامه‌نویس بهتر
      p در این مصاحبه ویدیویی (که متن صحبت‌های آن نیز موجود است) نویسنده کتاب Becoming a Better Programmer درباره این که چه چیزی یک برنامه‌نویس خوب را از یک برنامه‌نویسی عالی متمایز می‌کند صحبت می‌کند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://github.com/blog/2019-how-to-undo-almost-anything-with-git', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | چه گونه هر چیزی را در گیت به حالت قبلش برگردانیم
      p این پست از وبلاگ گیت‌هاب به شما یاد می‌دهد که برای برگرداندن کدها به حالت قبل در شرایط مختلف چه باید کرد.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://charliethe.ninja/slideshow/introtoc.html', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | زبان C برای برنامه‌نویسان زبان‌های سطح بالا
      p این اسلایدشوی کوتاه راهنمایی است مختصر و مفید برای کسانی که با زبان‌هایی سطح بالایی مثل روبی کار کرده‌اند و حالا می‌خواهند با زبان C آشنا شوند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://littleosbook.github.io', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | کتاب کوچکی برای توسعه یک سیستم عامل
      p حتی اگر علاقه‌ای به توسعه یک سیستم عامل نداشته باشید، این کتاب کوچک به شما کمک می‌کند که درک بهتری از مفاهیم پایه‌ای یک سیستم عامل داشته باشید تا بتوانید برنامه‌های بهتری بنویسید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://comp-phil.blogspot.com/2015/05/intro-to-higher-order-functions.html', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | آشنایی با توابع مرتبه بالا
      p توابع مرتبه بالا یا Higher Order Functions توابعی هستند که توابع دیگر را در قالب ورودی دریافت می‌کنند و یا به عنوان خروجی بر‌می‌گردانند و تقریبا در همه زبان‌های برنامه‌نویسی وجود دارند. این پست شما را با انواع مختلف این توابع آشنا می‌کند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://mabnadp.com/jobs', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس C#/ASP.NET در شرکت مبنا
      p اگر علاقه دارید در زمینه توسعه نرم‌افزارهای مدرن برای بازار بورس کار کنید خوشحال می‌شویم که شما هم عضوی از تیم ما در شرکت مبنا باشید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://gsm.ir', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس PHP Yii در گروه جی‌اس‌ام
      p گروه جی‌اس‌ام که قدیمی‌ترین مرکز اطلاع‌رسانی در حوزه اکوسیستم موبایل است و در حال حاضر در حوزه‌های مدیا و تبلیغات فعالیت می‌کند نیاز به یک برنامه‌نویس تمام وقت PHP Yii با حداقل دو سال سابقه کار دارد. در صورت تمایل رزومه خود را به آدرس <a href='mailto:m.taebi@gsmgroup.ir' style='color: #333'>m.taebi@gsmgroup.ir</a> ارسال کنید.
      br
      p(style='color: #333333') اگر شما هم برای شرکت و یا تیم‌تان نیاز به جذب نیروی متخصص دارید و مایل هستید که آگهی استخدام خود را در این خبرنامه منتشر کنید، با آدرس <a href='mailto:info@idevcenter.com' style='color: #333;'>info@idevcenter.com</a> تماس بگیرید.
  tr
    td(width='80', align='right', valign='top', style='padding-top: 10px')
    td(width='520', align='right', valign='top', style='padding-top: 10px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      br
      a(href='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/1eb95eb9-b791-45c1-8e10-e0bfc94215dc.png')
        img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/1eb95eb9-b791-45c1-8e10-e0bfc94215dc.png', width='100%')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      | جمعه خوبی داشته باشید و از برنامه‌نویسی لذت ببرید :)
