---
issue_no: '۶'
issue_date: '۵ تیر ۱۳۹۴'
template: 'email.jade'
---

table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', style='font-size: 13px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333;')
  tr
    td(width='80', align='right', valign='top')
      img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/47670a2b-5c6b-4e26-a6da-d314aea87afa.png', width='50', height='50')
    td(width='520', align='right', valign='top')
      p سلام،
      p این هفته صحبت خاصی نیست. بدون معطلی برویم سراغ لینک‌های این شماره.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://www.catb.org/esr/writings/taoup/html/ch01s06.html', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | ۱۷ قانون در طراحی نرم‌افزار
      p برای هر برنامه‌نویسی لازم است که این قوانین (که در ابتدا به عنوان راهنمایی برای نوشتن برنامه‌های کاربردی برای سیستم عامل یونیکس توسط طراحان این سیستم عامل جمع‌آوری شده بودند) را بداند و آنها را هنگام نوشتن هر نوع برنامه‌ای در نظر بگیرد.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://oauthbible.com/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | کتاب مقدس OAuth
      p OAuth یکی از روش‌های بسیار معمول و در عین حال پیچیده برای احراز حویت کاربران هنگام کار با APIها است. این کتاب کوچک سعی می‌کند این پروتکل را به شیوه‌ای ساده و قابل فهم برای همه توضیح دهد.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://ma.ttias.be/architecting-websites-http2-era/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | طراحی سایت‌ها برای دوران HTTP/2
      p پروتکل HTTP/2 که چندی پیش بعد از کلی بحث و جدل نهایی شد تغییرات اساسی را در روش طراحی سایت‌ها ایجاد می‌کند که لازم است از همین الان ‌آنها را بشناسیم.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://atom.io/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | انتشار نسخه یک ادیتور اتم
      p اتم یک ادیتور پیشرفته و قابل توسعه است که توسط شرکت گیت‌هاب و به صورت متن باز توسعه داده شده است. نسخه نهایی این ادیتور اکنون بعد از حدود یک سال منتشر شده است و برای همه پلتفرم‌ها قابل دریافت است.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://medium.com/@scosta/how-to-survive-80-hours-of-programming-every-week-3cc1db75695a', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | داشتن بدنی سالم در کنار کار طولانی مدت برنامه‌نویسی
      p اکثر ما روزانه حدود ده ساعت و یا حتی بیشتر مشغول برنامه‌نویسی و کار با کامپیوتر هستیم که این روال اثرات مخربی بر روی بدن ما دارد. با رعایت نکات اشاره شده در این مطلب می‌توانیم در ضمن لذت بردن از برنامه‌نویسی بدن سالمتری داشته باشیم.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://mabnadp.com', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس C#/ASP.NET در شرکت مبنا
      p شرکت مبنا که در زمینه توسعه نرم‌افزارها، اپلیکیشن‌ها و سیستم‌های مرتبط با بورس و بازار سرمایه فعالیت می‌کند برای تکمیل تیم خود نیاز به یک برنامه‌نویس C#/ASP.NET دارد.
        | اگر مایل به همکاری با این شرکت هستید به آدرس <a href='http://mabnadp.com/jobs' style='color: #333'>mabnadp.com/jobs</a> مراجعه کنید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://atitel.com', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس Client Side در شرکت آتی‌تل
      p شرکت آتی‌تل که در زمینه‌های مختلف از جمله فناوری اطلاعات، مخابرات، بانکداری و خدمات ارزش افزوده و یکپارچه سازی سیستم‌ها به فعالیت مشغول است نیاز به یک برنامه‌نویس آشنا با Bootstrap/jQuery و با حوصله به همراه ذوق برای یادگیری مباحث و مطالب جدید دارد.
        | اگر مایل به همکاری با این گروه هستید رزومه خود را به آدرس <a href='mailto:jobs@atitel.com' style='color: #333'>jobs@atitel.com</a> ارسال کنید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://navaak.com', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس جاواسکریپت در نواک
      p نواک که یک استارتاپ در حوزه موسیقی است برای توسعه وب سایت خود به یک برنامه‌نویس جاواسکریپت آشنا به فریم‌ورک‌هایی مانند AngularJS نیاز دارد.
        | اگر مایل به همکاری با این استارتاپ هستید رزومه خود را به آدرس <a href='mailto:info@navaak.com' style='color: #333'>info@navaak.com</a> ارسال کنید.
      br
      p(style='color: #333333') اگر شما هم برای شرکت و یا تیم‌تان نیاز به جذب نیروی متخصص دارید و مایل هستید که آگهی استخدام خود را در این خبرنامه منتشر کنید، با آدرس <a href='mailto:info@idevcenter.com' style='color: #333;'>info@idevcenter.com</a> تماس بگیرید.
  tr
    td(width='80', align='right', valign='top', style='padding-top: 10px')
    td(width='520', align='right', valign='top', style='padding-top: 10px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      br
      a(href='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/75c5b1f3-2494-4f7b-8134-045c1ff77e8f.png')
        img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/75c5b1f3-2494-4f7b-8134-045c1ff77e8f.png', width='100%')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      | هفته خوبی داشته باشید و از برنامه‌نویسی لذت ببرید :)
