---
issue_no: '۲'
issue_date: '۱۱ اردیبهشت ۱۳۹۴'
template: 'email.jade'
---

table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', style='font-size: 13px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333;')
  tr
    td(width='80', align='right', valign='top')
      img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/47670a2b-5c6b-4e26-a6da-d314aea87afa.png', width='50', height='50')
    td(width='520', align='right', valign='top')
      p سلام،
      p قول داده بودم خبرنامه را هر هفته ارسال کنم ولی دیدم بهتر است این کار را هر دو هفته یک بار انجام بدهم تا هم کیفیت مطالب بالاتر برود و هم این که انجام آن برای خودم آسان‌تر بشود. این شما و این هم لینک‌های این هفته.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://thenodeway.io/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c') راهنمای نوشتن برنامه‌های زیبا با <span class='en'>Node</span>
      p از اصول مهم در برنامه‌نویسی نوشتن برنامه‌های قابل نگهداری، مقیاس‌پذیر و با کد زیبا و قابل خواندن است. این راهنما سعی می‌کند روش صحیح پیاده سازی این اصول را در برنامه‌های Node.js آموزش دهد.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://github.com/ripienaar/free-for-dev', class='en', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c') فهرست کاملی از منابع مجانی برای توسعه‌دهندگان
      p در این صفحه فهرست کاملی از منابع و سرویس‌های مجانی برای برنامه‌نویسان و توسعه‌دهندگان جمع‌آوری شده است. از IDE و ادیتورها گرفته تا سرویس‌های ایمیل و مدیریت پروژه و ابزارهای مانیتورینگ سرورها و بررسی لاگ‌ها.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://www.loggly.com/blog/the-most-popular-programming-languages-in-to-github-since-2012/', class='en', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c') ۱۵ زبان برنامه‌نویسی پرطرفدار در گیت‌هاب
      p دعوای بین برنامه‌نویسان سر این که کدام زبان برنامه‌نویسی بهتر است شاید هیچ وقت به نتیجه نرسد ولی با نگاه به پروژه‌های فعال روی ‌گیت‌هاب شاید بتوان فهمید که در حال حاضر کدام زبان‌ها از بقیه پرطرفدارتر هستند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://github.com/agis-/git-style-guide', class='en', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c') اصول استفاده صحیح از گیت
      p همان قدر که تمیزی کد و رعایت اصول کدنویسی در برنامه‌نویسی اهمیت دارد هنگام کار کردن با گیت هم باید سعی کرد اصول استفاده صحیح از آن، از نحوه نوشتن متن توضیح کامیت گرفته تا نامگذاری مناسب شاخه‌ها، را رعایت کرد.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://ui.toread.ir/', class='en', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c') هفته‌نامه طراحی وب فارسی
      p هفته‌نامه طراحی وب فارسی کار خوبی از بچه‌های تیم ریحون است که در آن هر پنجشنبه بهترین لینک‌های طراحی و توسعه وب به زبان فارسی را برای شما ارسال می‌کنند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      br
      a(href='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/3f9f7ea9-24fc-4a05-b45c-8c2b3a6a9417.jpg')
        img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/3f9f7ea9-24fc-4a05-b45c-8c2b3a6a9417.jpg', width='95%')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      | آخر هفته خوبی داشته باشید و از برنامه‌نویسی لذت ببرید :)
