---
issue_no: '۷'
issue_date: '۱۹ تیر ۱۳۹۴'
template: 'email.jade'
---

table(border='0', width='100%', height='100%', cellpadding='0', cellspacing='0', style='font-size: 13px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333333;')
  tr
    td(width='80', align='right', valign='top')
      img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/47670a2b-5c6b-4e26-a6da-d314aea87afa.png', width='50', height='50')
    td(width='520', align='right', valign='top')
      p سلام،
      p از آنجایی که ممکن است دو هفته آینده در مسافرت باشم خبرنامه شماره بعد احتمالا با کمی تاخیر منتشر خواهد شد. برویم سراغ لینک‌های این هفته:

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://kunststube.net/encoding/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | هر آنچه که لازم است درباره کدگذاری رشته‌ها بدانید
      p کدگذاری رشته‌ها یا همان Encoding از مباحثی است که ممکن است کمی پیچیده به نظر برسد ولی دانستن آن به خصوص برای ما فارسی‌زبان‌ها که در برنامه‌هایمان با متون غیرانگلیسی سر و کار داریم بسیار لازم است.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://www.livecoding.tv/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | کدنویسی بقیه را به صورت زنده تماشا کنید
      p با کمک این سایت که به تازگی راه‌اندازی شده است می‌توانید کدنویسی مردم را به صورت زنده مشاهده کنید. اگر سرعت اینترنت اجازه بدهد من هم موقع کدنویسی بخش‌های جدید سایت ویدیوی آن را در این سایت منتشر خواهم کرد و قبل از آن هم حتما شما را از طریق <a href='http://idevcenter.com/slack' style='color: #333;'>گروه اسلک سایت</a> مطلع خواهم کرد.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='https://www.loggly.com/blog/five-invaluable-techniques-to-improve-regex-performance/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | پنج تکنیک برای افزایش سرعت RegExها
      p عبارات باقاعده ابزار بسیار خوبی برای حل بعضی از مسائل در برنامه‌نویسی هستند اما اگر به درستی استفاده نشوند به راحتی می‌توانند به یک گلوگاه تبدیل شوند و سرعت برنامه را کم کنند.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://www.lispcast.com/avoid-naming-at-all-costs', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | فرار از مشکل نامگذاری در برنامه‌نویسی
      p در شماره چهارم مطلبی برای کمک به مشکل نامگذاری چیزهای مختلف در برنامه‌نویسی با شما به اشتراک گذاشتم؛ اما بعضی مواقع شاید بهتر باشد که به جای حل مشکل، صورت مسئله را پاک کنیم.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://www.hadermann.be/blog/134/recognising-a-bad-user-interface-at-first-glance/', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | چگونه یک واسط کاربر بد طراحی کنیم
      p با این که این روزها طراحی واسط کاربری برای نرم‌افزارها به یک تخصص جداگانه تبدیل شده است ولی اگر زمانی لازم داشتید که برای برنامه خود یک اینترفیس طراحی کنید این موارد را مد نظر داشته باشید.

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      a(href='http://mabnadp.com', style='color: #e74c3c; text-decoration: none; padding-bottom: 1px; border-bottom: 1px dotted #e74c3c')
        | استخدام برنامه‌نویس C#/ASP.NET در شرکت مبنا
      p شرکت مبنا که در زمینه توسعه نرم‌افزارها، اپلیکیشن‌ها و سیستم‌های مرتبط با بورس و بازار سرمایه فعالیت می‌کند برای تکمیل تیم خود نیاز به یک برنامه‌نویس C#/ASP.NET دارد.
        | اگر مایل به همکاری با این شرکت هستید به آدرس <a href='http://mabnadp.com/jobs' style='color: #333'>mabnadp.com/jobs</a> مراجعه کنید.
      br
      p(style='color: #333333') اگر شما هم برای شرکت و یا تیم‌تان نیاز به جذب نیروی متخصص دارید و مایل هستید که آگهی استخدام خود را در این خبرنامه منتشر کنید، با آدرس <a href='mailto:info@idevcenter.com' style='color: #333;'>info@idevcenter.com</a> تماس بگیرید.
  tr
    td(width='80', align='right', valign='top', style='padding-top: 10px')
    td(width='520', align='right', valign='top', style='padding-top: 10px')
      hr(style='border: 1px solid #eee;')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      br
      a(href='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/097e7395-e4cf-430b-9bee-84dd84653fe2.png')
        img(src='http://gallery.mailchimp.com/86a5c2813f59c8e43d471b5eb/images/097e7395-e4cf-430b-9bee-84dd84653fe2.png', width='100%')

  tr
    td(width='80', align='right', valign='top', style='padding-top: 20px')
    td(width='520', align='right', valign='top', style='padding-top: 20px')
      | هفته خوبی داشته باشید و از برنامه‌نویسی لذت ببرید :)
